mixin playlists( lists )
  if lists && lists.length
    div.frame-playlists
      each list in lists
        a.frame-playlists--item( href= '/list/' + list.id )
          img.frame-playlists--item-preview(
            src= '/media/' + list.poster
          )
          div.frame-playlists--item-overlay
            span.name= list.name
            span.count= t( 'views.playlists.count', { count: list.count } )
