mixin videolist( videos, query = '' )
  if videos && videos.length > 0
    div.frame-videolist
      each video in videos
        if video
          a.frame-videolist--item( href= '/watch/' + video.id + query )
            img.frame-videolist--item-preview(
              src= '/media/' + video.id + '/' + video.thumbnail,
              alt= "Thumbnail"
            )
            div.frame-videolist--item-info
              span= video.title
