doctype html
html( lang= "en" )
  head
    meta( charset= "UTF-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    meta( name= "theme-color", content= "#0a0a0a" )
    link( rel= "icon", href= "/images/favicon.ico", sizes= "256x256", type= "image/x-icon" )
    link( rel= "icon", href= "/images/favicon.svg", sizes= "any", type= "image/svg+xml" )
    title Frame

    block styles
      link( rel= "stylesheet", href= "css/global.min.css" )

  body#top
