extends ./_layout
include ./mixin/videolist

append scripts
  script( src= "/js/playlist.min.js", type= "text/javascript" )

append styles
  link( rel= "stylesheet", href= "/css/playlist.min.css" )
  link( rel= "stylesheet", href= "/css/mixin.min.css" )

block content
  div.frame-list.frame-content
    h3.frame-icon-heading
      i.icon.icon-video
      span= list.name
    div.frame-list--actions
      if list && list.videos && list.videos.length > 0
        button( list= listId, action= "play", at= list.videos[ 0 ].id )= t( 'views.playlists.play' )
      button( list= listId, action= "rename" )= t( 'views.playlists.rename' )
      button( list= listId, action= "delete" )= t( 'views.playlists.delete' )
    +videolist( list.videos, { list: listId } )
