extends ./_layout
include ./mixin/videolist

append styles
  link( rel= "stylesheet", href= "/css/mixin.min.css" )

block content
  div.frame-list.frame-content
    h3.frame-icon-heading
      i.icon.icon-video
      span= list.name
    +videolist( list.videos, { list: listId } )
    p: button( list= listId, action= "delete" )= t( 'views.playlists.delete' )
