extends ./_layout
include ./mixin/videogrid

append styles
  link( rel= "stylesheet", href= "/css/mixin.min.css" )
  link( rel= "stylesheet", href= "/css/themes.min.css" )

block content
  div.frame-themes.frame-content
    each c in categories
      h3= t( 'category.' + c )
      +videogrid( videos[ c ] )
