extends ./_layout

append styles
  link( rel= "stylesheet", href= "/css/watch.min.css" )
  link( rel= "stylesheet", href= "/css/player.min.css" )

block content
  div.frame-watch

    //- Video player
    div.video-wrapper
      div.video-container
        video.video-player
          source

    //- Video description / meta
    div.frame-watch--meta
      h2.frame-watch--meta-title= video.title
      a( href= '/search?author=' + encodeURIComponent( video.author ) ).frame-watch--meta-author= video.author
