extends ./_layout

append scripts
  script( src= "/js/player.js", type= "text/javascript", defer )

append styles
  link( rel= "stylesheet", href= "/css/watch.min.css" )
  link( rel= "stylesheet", href= "/css/player.min.css" )

block content
  div.frame-watch

    //- Video player
    div.player.load.controls( videoId= videoId )
      div.player-container
        video.video-player

        //- Player controls
        div.player-controls
          div.action
          div.progress

            //- Waveform
            canvas.waveform

            //- Seekbar (progress)
            div.seekbar
              div.buffered
              div.handle
                div.hover
                  div.preview
                  div.time 00:00
              div.played

          //- Control actions
          div.controls
            div.left
              each btn in [ 'play', 'pause', 'replay', 'rewind', 'fastForward' ]
                button( action= btn, title= t( 'player.action.' + btn ) )
                  i( class= 'icon icon-' + btn )
              div.volume
                button( action= "mute", title= t( 'player.action.mute' ) )
                  i.icon.icon-volume
                button( action= "unmute", title= t( 'player.action.unmute' ) )
                  i.icon.icon-mute
                div.slider( title= t( 'player.action.volume' ) )
                  input( type= "range", action= "volume", min= 0, max= 1, step= 0.05 )
              div.timecode
                span.cur 00:00
                span.div /
                span.dur 00:00
            div.right
              each btn in [ 'download', 'settings', 'info', 'maximize', 'minimize' ]
                button( action= btn, title= t( 'player.action.' + btn ) )
                  i( class= 'icon icon-' + btn )

        //- Loader
        div.player-loader
          svg( xmlns= "http://www.w3.org/2000/svg", viewBox= "0 0 48 48" )
            g: circle( cx= 24, cy= 24, r= 19 )

    //- Video description
    div.frame-watch--content

      //- Left column
      div.frame-watch--column

        //- Video description
        div.frame-box.frame-watch--meta
          h2.frame-watch--meta-title= video.title
          div.frame-watch--meta-info
            a( href= '/search?author=' + encodeURIComponent( video.author ) ).author= video.author
            span •
            a( href= '/themes/' + video.category ).category= t( 'category.' + video.category )
            span •
            a( href= '/search?pg=' + encodeURIComponent( video.pg ) ).pg= video.pg
            span •
            a( href= '/search?year=' + video.year ).year= video.year
          p.frame-watch--meta-description= video.description
          div.frame-watch--meta-tags
            each tag in video.tags
              a( href= '/search?tag=' + encodeURIComponent( tag ) )= tag

      //- Right column (aside)
      aside.frame-watch--column

        //- Video stats
        div.frame-box.frame-watch--stats
          i.icon.icon-radio
          strong.views!= t( 'views.watch.stats.views', { views: video.stats.views } )
          button( action= "thumbsUp", title= t( 'views.watch.stats.thumbsUp' ) ): i.icon.icon-thumbsUp
          button( action= "thumbsDown", title= t( 'views.watch.stats.thumbsDown' ) ): i.icon.icon-thumbsDown
          strong.rating= ( video.stats.rating || 0 ).toFixed( 1 )
