extends ./_base

append styles
  link( rel= "stylesheet", href= "/css/player.min.css" )

block main
  div#player.player
    div.player-container
      div.player-inner
        video.player-source(
          src= "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
          autoplay, muted
        )
        div.player-controls
          div.progress-container
            div.buffer-bar
            div.progress-bar
          div.main-controls
            div.player-actions
              button( action= "#play", title= "Play" )
                img.icon( src= "/images/icons/play.svg", alt= "Play" )
              button( action= "#pause", title= "Pause" )
                img.icon( src= "/images/icons/pause.svg", alt= "Pause" )
            div.player-settings
      div.player-overlay
