extends ./_layout

append styles
  link( rel= "stylesheet", href= "/css/watch.min.css" )
  link( rel= "stylesheet", href= "/css/player.min.css" )

block content
  div.frame-watch

    //- Video player
    div.video-wrapper
      div.video-container
        video.video-player( videoId= videoId )
          source

    //- Video description
    div.frame-watch--content

      //- Left column
      div.frame-watch--column

        //- Video description
        div.frame-box.frame-watch--meta
          h2.frame-watch--meta-title= video.title
          div.frame-watch--meta-info
            a( href= '/search?author=' + encodeURIComponent( video.author ) ).author= video.author
            span •
            a( href= '/themes/' + video.category ).category= t( 'category.' + video.category )
            span •
            a( href= '/search?pg=' + encodeURIComponent( video.pg ) ).pg= video.pg
            span •
            a( href= '/search?year=' + video.year ).year= video.year
          p.frame-watch--meta-description= video.description
          div.frame-watch--meta-tags
            each tag in video.tags
              a( href= '/search?tag=' + encodeURIComponent( tag ) )= tag
