extends ./_base

append scripts
  script( src= "/js/player.min.js", type= "text/javascript", defer )

append styles
  link( rel= "stylesheet", href= "/css/player.min.css" )

block main
  div#player.player
    div.player-container.show-controls
      div.player-inner
        video.player-source
          source(
            src= "https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
            type= "video/mp4"
          )
        div.player-controls
          div.action-container
          div.progress-container( action= "seek" )
            div.buffer-bar( style= "--width: 0%" )
            div.progress-bar( style= "--width: 0%" )
          div.main-controls
            div.player-actions
              button( action= "play", title= "Play" )
                img.icon( src= "/images/icons/play.svg", alt= "Play" )
              button( action= "pause", title= "Pause", disabled )
                img.icon( src= "/images/icons/pause.svg", alt= "Pause" )
              button( action= "begin", title= "Begin" )
                img.icon( src= "/images/icons/skipBack.svg", alt= "Begin" )
              button( action= "rewind", title= "Rewind (5 sec.)" )
                img.icon( src= "/images/icons/rewind.svg", alt= "Rewind" )
              button( action= "fastForward", title= "Fast forward (5 sec.)" )
                img.icon( src= "/images/icons/fastForward.svg", alt= "Fast Forward" )
              button( action= "end", title= "End" )
                img.icon( src= "/images/icons/skipForward.svg", alt= "End" )
              div.volume-container
                button( action= "mute", title= "Mute Player" )
                  img.icon( src= "/images/icons/volume.svg", alt= "Mute" )
                button( action= "unmute", title= "Unmute Player", disabled )
                  img.icon( src= "/images/icons/mute.svg", alt= "Unmute" )
                div.volume-slider
                  input(
                    type= "range", action= "volume", title= "Volume",
                    min= 0, max= 100, value= 100, style= "--width: 100%"
                  )
              span.player-time 00:00 / 00:00
            div.player-settings
              button( action= "download", title= "Download Video" )
                img.icon( src= "/images/icons/download.svg", alt= "Download Video" )
              button( action= "settings", title= "Settings" )
                img.icon( src= "/images/icons/settings.svg", alt= "Settings" )
              button( action= "help", title= "Key Bindings" )
                img.icon( src= "/images/icons/help.svg", alt= "Help" )
              button( action= "maximize", title= "Fullscreen" )
                img.icon( src= "/images/icons/maximize.svg", alt= "Fullscreen" )
              button( action= "minimize", title= "Exit Fullscreen", disabled )
                img.icon( src= "/images/icons/minimize.svg", alt= "Exit Fullscreen" )
        div.player-overlay
          img.icon( src= "", alt= "Overlay" )
          span
        div.loading-spinner
        div.player-dialog.settings
          h3 Player Settings
          ul
            li
              span Playback speed
              select( action= "playbackRate" )
                option( value= 0 ) 0.25x
                option( value= 1 ) 0.5x
                option( value= 2 ) 0.75x
                option( value= 3, selected ) Normal
                option( value= 4 ) 1.25x
                option( value= 5 ) 1.5x
                option( value= 6 ) 1.75x
                option( value= 7 ) 2x
                option( value= 8 ) 3x
                option( value= 9 ) 4x
        div.player-dialog.help
          h3 Key Bindings
          ul.key-bindings
            li
              span Play / pause
              code SPC / K / F7
            li
              span Show help
              code H / F1
            li
              span Mute player
              code M / F9
            li
              span Full screen
              code F / F11 / ESC
            li
              span Volume
              code ↑ / ↓
            li
              span FF / RW
              code ← / →
            li
              span Frame by frame
              code , / .
            li
              span Begin / End
              code Home / End
            li
              span Playback speed
              code + / -
            li
              span Seeking video
              code 0..9
