@font-face {
    font-family: 'IBMPlexSans';
    src: url( '../fonts/IBMPlexSans-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url( '../fonts/IBMPlexSans-Italic.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url( '../fonts/IBMPlexMono-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexMono';
    font-style: italic;
    src: url( '../fonts/IBMPlexMono-Italic.woff2' ) format( 'woff2' );
}

:root {
    --content-width: 1400px;
    --font-sans: 'IBMPlexSans', sans-serif;
    --font-mono: 'IBMPlexMono', monospace;
    --text-color: #fff;
    --text-muted: #808080;
    --bg-primary: #0a0a0a;
    --bg-secondary: #1a1a1a;
    --bg-tertiary: #2a2a2a;
    --primary: #e02f2f;
    --secondary: #a91919;
    --border: 1px solid #333333;
    --border-radius: 4px;
}

*, *::after, *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}

html, body {
    margin: 0;
    font-family: var( --font-sans );
    color: var( --text-color );
    background: var( --bg-primary );
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var( --primary );
}

input, textarea, select {
    font-family: var( --font-sans );
    font-size: 1em;
    color: var( --text-color );
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var( --primary );
}

svg.icon {
    fill: var( --text-color );
}

img.icon {
    filter: invert( 1 );
}
