@font-face {
    font-family: 'IBM Plex';
    src: url( '../fonts/IBMPlex.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBM Plex';
    font-style: italic;
    src: url( '../fonts/IBMPlex-Italic.woff2' ) format( 'woff2' );
}

:root {
    --text-color: #fff;
    --bg-color: #0f0f0f;
    --primary: #e02f2f;
    --secondary: #a91919;

    --light-10: rgba( 255 255 255 / 0.1 );
    --light-20: rgba( 255 255 255 / 0.2 );
    --light-30: rgba( 255 255 255 / 0.3 );

    --dark-20: rgba( 0 0 0 / 0.2 );

    --radius: 4px;
}

*, *::before, *::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: 'IBM Plex', sans-serif;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    user-select: none;
    scrollbar-width: none
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}

html, body {
    margin: 0;
    line-height: 1;
    font-size: 1em;
    color: var( --text-color );
    background: var( --bg-color );
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

input, textarea, select, button {
    height: 42px;
    padding: 0 16px;
    font-size: 1em;
    color: var( --text-color );
    background: var( --dark-20 );
    border: 0;
    border-radius: var( --radius );
    cursor: text;
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var( --primary );
}

select, button {
    cursor: pointer;
}

button {
    background: var( --light-20 );
}

button:hover {
    background: var( --light-30 );
}

/** Icons */

.icon {
    display: inline-block;
    width: 24px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert( 1 );
}

.icon.icon-search {
    background-image: url( ../images/icons/search.svg );
}

.icon.icon-settings {
    background-image: url( ../images/icons/settings.svg );
}
