@font-face {
    font-family: 'IBMPlexSans';
    src: url( '../fonts/IBMPlexSans-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexSans';
    font-style: italic;
    src: url( '../fonts/IBMPlexSans-Italic.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url( '../fonts/IBMPlexMono-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'IBMPlexMono';
    font-style: italic;
    src: url( '../fonts/IBMPlexMono-Italic.woff2' ) format( 'woff2' );
}

:root {
    --text-color: #fff;
    --bg-color: #0a0a0a;
    --primary: #4fbe9f;
    --secondary: #09816c;
    --font-sans: 'IBMPlexSans', sans-serif;
    --font-mono: 'IBMPlexMono', monospace;
}

*, *::after, *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none
}

html, body {
    margin: 0;
    font-family: var( --font-sans );
    color: var( --text-color );
    background: var( --bg-color );
}
