.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 86px;
    background: var( --bg-primary );
    overflow: hidden;
    z-index: 999;
}

.header-inner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 86px;
    margin: 0 20px;
    height: 100%;
}

.header-logo {
    display: block;
    margin: 0;
    width: 56px;
    height: 56px;
    padding: 0;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-search {
    position: relative;
}

.header-search input {
    width: 100%;
    height: 52px;
    padding: 0 18px 0 64px;
    background: var( --bg-secondary );
    border: var( --border );
    border-radius: 32px;
}

.header-search img {
    position: absolute;
    top: calc( 50% - 13px );
    left: 22px;
    width: 26px;
    opacity: 0.7;
}

.header-right {
    text-align: right;
}

.header-right .header-nav-opener {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 6px;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 72px auto;
    max-width: var( --content-width );
    font-size: 0.8em;
    color: var( --text-muted );
}

.footer .legal-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}
