.frame-header {
    display: grid;
    grid-template-columns: max-content 1fr 360px 48px;
    align-items: center;
    gap: 12px;
    margin: 16px;
    height: 66px;
    padding: 12px;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-header--logo {
    padding: 0 24px 0 12px;
}

.frame-header--logo img {
    width: auto;
    height: 42px;
    filter: drop-shadow( 0 0 10px var( --dark-20 ) );
}

.frame-header--nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
    font-size: 1.1em;
    font-weight: 500;
}

.frame-header--nav a:not( .current ):hover {
    opacity: 0.7;
}

.frame-header--nav a.current {
    color: var( --primary ) !important;
}

.frame-header--search {
    position: relative;
    width: 100%;
    height: 42px;
}

.frame-header--search input {
    width: 100%;
    height: 100%;
    padding-left: 42px;
}

.frame-header--search .icon {
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.7;
}

.frame-header--dasher-opener {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: var( --dark-20 );
    border-radius: var( --radius );
    cursor: pointer;
}
