.frame-lists--grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    gap: 20px;
    margin: 20px 0;
}

.frame-lists--grid-item {
    aspect-ratio: 16 / 9;
    position: relative;
    width: 100%;
    height: auto;
    background: var( --dark-60 );
    border-radius: var( --radius );
    overflow: hidden;
}

.frame-lists--grid-item-preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-lists--grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 8px;
    padding: 18px;
    background: linear-gradient( to top, var( --dark-60 ), transparent );
    z-index: 1;
}

.frame-lists--grid-item-overlay .name {
    font-size: 1.2em;
    font-weight: 500;
}

.frame-lists--grid-item-overlay .count {
    font-weight: 300;
}
