/** Video grid */

.frame-videogrid {
    display: grid;
    grid-template-columns: repeat( var( --cols, 3 ), 1fr );
    gap: 20px;
    margin: 20px 0;
}

.frame-videogrid--item {
    aspect-ratio: 16 / 9;
    position: relative;
    width: 100%;
    height: auto;
    background: var( --dark-60 );
    border-radius: var( --radius );
    overflow: hidden;
}

.frame-videogrid--item-preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame-videogrid--item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
    padding: 18px 16px;
    white-space: nowrap;
    font-size: 0.86em;
    font-weight: bold;
    background: linear-gradient( to top, var( --dark-60 ), transparent );
    z-index: 1;
}

.frame-videogrid--item-overlay span {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame-videogrid--item-progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var( --light-20 );
    z-index: 2;
}

.frame-videogrid--item-progress::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var( --progress, 0 );
    height: 4px;
    background: var( --primary );
}

/** Video list */

.frame-videolist {
    display: flex;
    flex-flow: column nowrap;
}

.frame-videolist--item {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    gap: 20px;
    padding: 12px 0;
}

.frame-videolist--item:not( :last-child ) {
    border-bottom: 1px dashed var( --light-20 );
}

.frame-videolist--item-preview {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.frame-videolist--item-info {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.2;
    font-size: 0.92em;
}
