.video-wrapper {
    width: 100%;
    height: auto;
    background: var( --dark-60 );
}

.video-container {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    max-width: 1280px;
    height: auto;
    background: #000;
}

.video-player {
    margin: 0;
    width: 100%;
    height: 100%;
}
