.player {
    width: 100%;
    height: auto;
    background: var( --dark-60 );
}

.player-container {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    max-width: var( --content );
    height: auto;
    background: #000;
}

.video-player {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.player-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient( to top, var( --dark-60 ), transparent );
    z-index: 1;
}

.player-controls .action {
    flex: 1;
    cursor: pointer;
}

.player-controls .progress {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
    padding: 0 12px;
    cursor: pointer;
}

.player-controls .progress .waveform {
    width: 100%;
    height: 80px;
}

.player-controls .progress .seekbar {
    position: relative;
    width: 100%;
    height: 6px;
    background: var( --light-20 );
    border-radius: 3px;
}

.player-controls .progress .seekbar .buffered,
.player-controls .progress .seekbar .handle,
.player-controls .progress .seekbar .played {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.player-controls .progress .seekbar .buffered {
    width: var( --buffered, 0% );
    background: var( --light-30 );
}

.player-controls .progress .seekbar .handle {
    display: none;
    width: var( --handle, 0% );
    background: var( --light-30 );
}

.player-controls .progress .seekbar .handle .hover {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: translateX( 50% );
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 6px;
    width: max-content;
    height: auto;
}

.player-controls .progress .seekbar .handle .hover .preview,
.player-controls .progress .seekbar .handle .hover .time {
    background-color: var( --dark-60 );
    border-radius: var( --radius );
}

.player-controls .progress .seekbar .handle .hover .preview {
    aspect-ratio: 16 / 9;
    width: 240px;
    height: auto;
}

.player-controls .progress .seekbar .handle .hover .time {
    padding: 4px 8px;
    font-size: 0.84em;
    font-weight: 500;
}

.player-controls .progress .seekbar .played {
    width: var( --handle, 0% );
    background: var( --primary );
}

.player-controls .controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 12px;
}

.player-controls .controls .left,
.player-controls .controls .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
}

.player-controls .controls button {
    flex: 0 0 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    transition: all 0.2s ease-out;
}

.player-controls .controls button:disabled {
    display: none;
}

.player-controls .controls button:hover {
    background: var( --light-20 );
    transform: scale( 1.1 );
}

.player-controls .controls button:focus {
    outline: 0 none;
}

.player-controls .volume {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
    width: fit-content;
}

.player-controls .volume .slider {
    width: 0%;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.player-controls .volume:hover .slider {
    width: 100%;
    opacity: 1;
}

.player-controls .volume .slider input {
    -webkit-appearance: none;
    appearance: none;
    accent-color: var( --text-color );
    margin: 0;
    width: 100%;
    height: 6px;
    transform: translateY( -3px );
    background: linear-gradient(
        to right,
        var( --text-color ) 0%,
        var( --text-color ) var( --width, 100% ),
        var( --light-20 ) var( --width, 100% ),
        var( --light-20 ) 100%
    );
    border-radius: 3px;
    outline: 0 none;
    cursor: pointer;
}

.player-controls .volume .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var( --text-color );
    border-radius: 50%;
    box-shadow: 0 0 6px var( --dark-40 );
    cursor: pointer;
}

.player-controls .volume .slider input::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background: var( --text-color );
    border-radius: 50%;
    box-shadow: 0 0 6px var( --dark-40 );
    cursor: pointer;
}

.player-controls .controls .timecode {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    font-size: 0.92em;
}

.player-spinner {
    position: absolute;
    top: calc( 50% - 60px );
    left: calc( 50% - 60px );
    width: 120px;
    height: 120px;
    z-index: 3;
}

.player-spinner g {
    transform-origin: center;
    animation: rotate 2s linear infinite;
}

.player-spinner circle {
    stroke-linecap: round;
    animation: spinner 1.5s ease-in-out infinite;
    fill: none;
    stroke-width: 4px;
    stroke: var( --light-30 );
}

@keyframes rotate {
    100% { transform: rotate( 360deg ) }
}

@keyframes spinner {
    0% { stroke-dasharray: 0 300; stroke-dashoffset: 0; }
    47.5% { stroke-dasharray: 84 300; stroke-dashoffset: -32; }
    95%, 100% { stroke-dasharray: 84 300; stroke-dashoffset: -118; }
}
