.player-container {
    width: 100%;
    height: auto;
    background: #000;
}

.player-container:not( .show-controls ),
.player-container:not( .show-controls ) * {
    cursor: none !important;
}

.player-inner {
    position: relative;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: var( --content-width );
    height: auto;
    overflow: hidden;
}

.player-inner .player-source {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient( to top, rgba( 0 0 0 / 0.5 ), transparent );
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 96;
}

.player-container.show-controls .player-controls {
    opacity: 1;
}

.player-container.show-controls.show-spinner .player-controls {
    pointer-events: none;
    opacity: 0.7;
}

.action-container {
    flex: 1;
    cursor: pointer;
}

.progress-container {
    cursor: pointer;
}

.wave-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 3px;
    margin-bottom: 6px;
    height: 48px;
}

.wave-container .bar {
    flex: 1;
    height: var( --v, 100% );
    background: rgba( 255 255 255 / 0.3 );
    border-radius: 3px;
}

.progress-bar, .progress-bar .buffer, .progress-bar .progress, .progress-bar .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 3px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgba( 255 255 255 / 0.2 );
}

.progress-bar .buffer {
    width: var( --buffer, 0% );
    background: rgba( 255 255 255 / 0.6 );
}

.progress-bar .progress {
    width: var( --progress, 0% );
    background: var( --primary );
}

.progress-bar .hover {
    width: var( --hover, 0% );
    background: rgba( 255 255 255 / 0.4 );
    opacity: 0;
    transition: opacity 0.2s ease-out;
    visibility: hidden;
}

.progress-container.hovered .progress-bar .hover {
    opacity: 1;
    visibility: visible;
}

.progress-bar .hover .hover-card {
    position: absolute;
    right: -120px;
    bottom: 56px;
    width: 240px;
    height: auto;
    font-size: 0.86em;
}

.progress-bar .hover .hover-card .preview {
    aspect-ratio: 16 / 9;
    margin-bottom: 6px;
    width: 100%;
    height: auto;
    background: rgba( 0 0 0 / 0.8 );
    border-radius: var( --border-radius );
    overflow: hidden;
}

.progress-bar .hover .hover-card .time-code {
    margin: 0 auto;
    width: fit-content;
    padding: 4px 10px;
    background: rgba( 0 0 0 / 0.8 );
    border-radius: var( --border-radius );
}

.main-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.player-actions, .player-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
}

.main-controls button {
    flex: 0 0 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    border-radius: var( --border-radius );
    outline: none 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.main-controls button:disabled {
    display: none;
}

.main-controls button:hover {
    background: rgba( 255 255 255 / 0.1 );
    transform: scale( 1.1 );
}

.main-controls button img {
    width: 26px;
    height: 26px;
}

.volume-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.volume-container .volume-slider {
    width: 0%;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.volume-container:hover .volume-slider {
    width: 100%;
    opacity: 1;
}

.volume-container .volume-slider input {
    -webkit-appearance: none;
    appearance: none;
    accent-color: #fff;
    margin: 0;
    width: 100%;
    height: 6px;
    transform: translateY( -3px );
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff var( --width, 100% ),
        rgba( 255 255 255 / 0.3 ) var( --width, 100% ),
        rgba( 255 255 255 / 0.3 ) 100%
    );
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.volume-container .volume-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba( 0 0 0 / 0.4 );
    cursor: pointer;
}

.volume-container .volume-slider input::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba( 0 0 0 / 0.2 );
    cursor: pointer;
}

.player-time {
    padding-left: 12px;
}

.player-overlay {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    padding: 16px 30px;
    font-size: 18px;
    background: rgba( 0 0 0 / 0.8 );
    border-radius: var( --border-radius );
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 98;
}

.player-container.show-overlay .player-overlay {
    opacity: 1;
}

.player-overlay img {
    width: 42px;
    height: 42px;
    opacity: 0.7;
}

.loading-spinner {
    pointer-events: none;
    position: absolute;
    top: calc( 50% - 26px );
    left: calc( 50% - 26px );
    width: 52px;
    height: 52px;
    border: 4px solid rgba( 255 255 255 / 0.3 );
    border-top-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: spin 0.8s linear infinite;
    z-index: 99;
    visibility: hidden;
}

.player-container.show-spinner .loading-spinner {
    opacity: 1;
    visibility: visible;
}

@keyframes spin {
    100% { transform: rotate( 360deg ); }
}

.player-dialog {
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 520px;
    padding: 20px;
    background: rgba( 0 0 0 / 0.8 );
    border-radius: var( --border-radius );
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 97;
    visibility: hidden;
}

.player-dialog h3 {
    margin: 0 0 14px;
    font-size: 1em;
}

.player-dialog ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.player-dialog ul li {
    break-inside: avoid;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 0.96em;
}

.player-dialog ul li code {
    padding: 2px 6px;
    font-family: var( --font-mono );
    font-size: 0.86em;
    background: rgba( 255 255 255 / 0.2 );
    border-radius: var( --border-radius );
}

.player-dialog select {
    min-width: 200px;
    padding: 4px 12px;
    background: transparent;
    border: 1px solid rgba( 255 255 255 / 0.4 );
    border-radius: var( --border-radius );
    cursor: pointer;
}

.player-dialog select option {
    color: #000;
}

.player-container.show-settings .player-dialog.settings,
.player-container.show-help .player-dialog.help {
    pointer-events: unset;
    opacity: 1;
    visibility: visible;
}

.player-dialog.help ul {
    grid-template-columns: repeat( 2, 1fr );
}
