.player-container {
    width: 100%;
    height: auto;
    background: #000;
}

.player-inner {
    position: relative;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: var( --content-width );
    height: auto;
    overflow: hidden;
}

.player-inner .player-source {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.player-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient( to top, rgba( 0 0 0 / 0.5 ), transparent );
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 99;
}

.player-container.show-controls .player-controls {
    opacity: 1;
}

.progress-container, .buffer-bar, .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgba( 255 255 255 / 0.2 );
    cursor: pointer;
}

.buffer-bar {
    width: var( --width, 0% );
    background: rgba( 255 255 255 / 0.3 );
}

.progress-bar {
    width: var( --width, 0% );
    background: var( --primary );
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: -6px;
    right: -9px;
    width: 18px;
    height: 18px;
    background: var( --primary );
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.progress-container:hover .progress-bar::after {
    opacity: 1;
}

.main-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.player-actions, .player-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
}

.main-controls button {
    flex: 0 0 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    border-radius: var( --border-radius );
    outline: none 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.main-controls button:disabled {
    display: none;
}

.main-controls button:hover {
    background: rgba( 255 255 255 / 0.1 );
    transform: scale( 1.1 );
}

.main-controls button img {
    width: 26px;
    height: 26px;
}

.volume-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.volume-container .volume-slider {
    width: 0%;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.volume-container:hover .volume-slider {
    width: 100%;
    opacity: 1;
}

.volume-container .volume-slider input {
    -webkit-appearance: none;
    appearance: none;
    accent-color: #fff;
    margin: 0;
    width: 100%;
    height: 6px;
    transform: translateY( -3px );
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff var( --width, 100% ),
        rgba( 255, 255, 255, 0.3 ) var( --width, 100% ),
        rgba( 255, 255, 255, 0.3 ) 100%
    );
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.volume-container .volume-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba( 0 0 0 / 0.4 );
    cursor: pointer;
}

.volume-container .volume-slider input::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba( 0 0 0 / 0.2 );
    cursor: pointer;
}

.player-time {
    padding-left: 12px;
}

.loading-spinner {
    pointer-events: none;
    position: absolute;
    top: calc( 50% - 26px );
    left: calc( 50% - 26px );
    width: 52px;
    height: 52px;
    border: 4px solid rgba( 255 255 255 / 0.3 );
    border-top-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: spin 0.8s linear infinite;
    visibility: hidden;
}

.player-container.show-spinner .loading-spinner {
    opacity: 1;
    visibility: visible;
}

@keyframes spin {
    100% { transform: rotate( 360deg ); }
}
