.player {
    width: 100%;
    height: auto;
    background: var( --dark-60 );
}

.player-container {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    max-width: var( --content );
    height: auto;
    background: #000;
}

.video-player {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.player-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient( to top, var( --dark-60 ), transparent );
    z-index: 1;
}

.player-controls .action {
    flex: 1;
    cursor: pointer;
}

.player-controls .progress {
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
    padding: 0 12px;
    cursor: pointer;
}

.player-controls .progress .waveform {
    width: 100%;
    height: 80px;
}

.player-controls .progress .seekbar {
    position: relative;
    width: 100%;
    height: 6px;
    background: var( --light-20 );
    border-radius: 3px;
}

.player-controls .progress .seekbar .buffered,
.player-controls .progress .seekbar .handle,
.player-controls .progress .seekbar .played {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.player-controls .progress .seekbar .buffered {
    width: var( --buffered, 0% );
    background: var( --light-30 );
}

.player-controls .progress .seekbar .handle {
    display: none;
    width: var( --handle, 0% );
    background: var( --light-30 );
}

.player-controls .progress .seekbar .handle .hover {
    position: absolute;
    right: 0;
    bottom: 100px;
    transform: translateX( 50% );
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 6px;
    width: max-content;
    height: auto;
}

.player-controls .progress .seekbar .handle .hover .preview,
.player-controls .progress .seekbar .handle .hover .timecode {
    background-color: var( --dark-60 );
    border-radius: var( --radius );
}

.player-controls .progress .seekbar .handle .hover .preview {
    aspect-ratio: 16 / 9;
    width: 240px;
    height: auto;
}

.player-controls .progress .seekbar .handle .hover .timecode {
    padding: 4px 8px;
    font-size: 0.84em;
    font-weight: 500;
}

.player-controls .progress .seekbar .played {
    width: var( --handle, 0% );
    background: var( --primary );
}

.player-controls .controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 12px;
}

.player-controls .controls .left,
.player-controls .controls .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
}

.player-controls .controls button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    transition: all 0.2s ease-out;
}

.player-controls .controls button:disabled {
    display: none;
}

.player-controls .controls button:hover {
    background: var( --light-20 );
    transform: scale( 1.1 );
}
