.player {
    width: 100%;
    height: auto;
    background: var( --dark-60 );
}

.player-container {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    max-width: var( --content );
    height: auto;
    background: #000;
}

.video-player {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.player-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
}
