.frame-search {
    margin: 16px auto;
    max-width: var( --content );
}

.frame-search--form {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding: 20px;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-search--form label {
    font-size: 0.82em;
    font-weight: 500;
}

.frame-search--form-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.frame-search--form-sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.frame-search--form-filter {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.frame-search--form-filter-item label {
    display: block;
    margin-bottom: 8px;
}

.frame-search--form-submit button {
    background: var( --primary );
}

.frame-search--form-submit button:hover {
    background: var( --secondary );
}
