.frame-upload {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
    margin: 32px 16px;
}

.frame-upload--box {
    margin-bottom: 16px;
    padding: 24px;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-upload--box h3 {
    margin: 0 0 24px;
    font-size: 1.1em;
}

.frame-upload--form-row {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 24px;
}

.frame-upload--form-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.frame-upload--form-group:not( :last-child ) {
    margin-bottom: 20px;
}

.frame-upload--form-group label {
    font-size: 0.86em;
    font-weight: bold;
}

.frame-upload--form-group input,
.frame-upload--form-group textarea,
.frame-upload--form-group select {
    width: 100%;
}

.frame-upload--file-drop {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
    padding: 20px;
    text-align: center;
    border: 2px dashed var( --light-20 );
    border-radius: var( --radius );
    cursor: pointer;
}

.frame-upload--file-drop input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0 !important;
    cursor: pointer;
}

.frame-upload--file-drop .icon {
    width: 56px;
    height: 56px;
    opacity: 0.6;
}

.frame-upload--file-drop strong {
    margin: 24px 0 12px;
    font-size: 1.1em;
}
