.frame-upload {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 32px;
    margin: 16px;
}

.frame-upload--meta {
    padding: 24px;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-upload--meta h3 {
    margin: 0 0 24px;
    font-size: 1.1em;
}

.frame-upload--form-row {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 24px;
}

.frame-upload--form-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.frame-upload--form-group:not( :last-child ) {
    margin-bottom: 20px;
}

.frame-upload--form-group label {
    font-size: 0.86em;
    font-weight: bold;
}

.frame-upload--form-group input,
.frame-upload--form-group textarea,
.frame-upload--form-group select {
    width: 100%;
}
