.frame-upload {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 16px;
    margin: 32px 16px;
}

.frame-upload .hidden {
    display: none;
}

.frame-upload--box {
    margin-bottom: 16px;
    padding: 24px;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-upload--box h3 {
    margin: 0 0 24px;
    font-size: 1.2em;
}

.frame-upload--form-row {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 24px;
}

.frame-upload--form-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.frame-upload--form-group:not( :last-child ) {
    margin-bottom: 20px;
}

.frame-upload--form-group label {
    margin-bottom: 4px;
    font-size: 0.92em;
    font-weight: bold;
}

.frame-upload--form-group input,
.frame-upload--form-group textarea,
.frame-upload--form-group select {
    width: 100%;
}

.frame-upload--file {
    margin-bottom: 16px;
}

.frame-upload--file-drop,
.frame-upload--file-preview {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border-radius: var( --radius );
    overflow: hidden;
}

.frame-upload--file-drop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px dashed var( --light-20 );
    cursor: pointer;
}

.frame-upload--file-drop input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0 !important;
    cursor: pointer;
}

.frame-upload--file-drop .icon {
    width: 56px;
    height: 56px;
    opacity: 0.6;
}

.frame-upload--file-drop strong {
    margin: 24px 0 12px;
    font-size: 1.1em;
}

.frame-upload--file-preview {
    background: var( --dark-60 );
}

.frame-upload--file-preview video {
    width: 100%;
    height: 100%;
}

.frame-upload--file-preview button {
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 10px var( --dark-20 );
}

.frame-upload--file-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

.frame-upload--file-info li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    white-space: nowrap;
    font-size: 0.92em;
}

.frame-upload--file-info li:not( :last-child ) {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px dashed var( --light-10 );
}

.frame-upload--file-info li strong {
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame-upload--actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.frame-upload--actions button {
    height: 52px;
    padding: 0 20px;
    font-size: 1.1em;
    box-shadow: 0 0 10px var( --dark-20 );
}

.frame-upload--actions .submit {
    background: var( --primary );
}

.frame-upload--actions .submit:hover {
    background: var( --secondary );
}

/** Processing / error messages */

.frame-upload.processing .frame-upload--column,
.frame-upload.error .frame-upload--column {
    pointer-events: none;
    filter: blur( 2px );
    opacity: 0.3;
}

.frame-upload.processing .frame-upload--progress,
.frame-upload.error .frame-upload--error {
    display: grid;
}

.frame-upload--progress,
.frame-upload--error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    display: none;
    grid-template-columns: max-content 320px;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background: var( --dark-40 );
    border-radius: var( --radius );
}

.frame-upload--progress-indicator {
    position: relative;
    width: 120px;
}

.frame-upload--progress-bar {
    transform: rotate( -90deg );
}

.frame-upload--progress-bar circle {
    fill: none;
    stroke-width: 6px;
}

.frame-upload--progress-bar .track {
    stroke: var( --light-20 );
}

.frame-upload--progress-bar .progress {
    stroke: var( --primary );
    stroke-dasharray: 100;
    stroke-dashoffset: calc( 100 - var( --progress, 0 ) );
    transition: all 0.2s ease-out;
}

.frame-upload--progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-size: 1.3em;
}

.frame-upload--progress-info h3 {
    margin: 0 0 10px;
    font-size: 1.1em;
}

.frame-upload--progress-info p {
    margin: 0;
    opacity: 0.7;
}

.frame-upload--error .icon {
    width: 56px;
    height: 56px;
    opacity: 0.6;
}

.frame-upload--error-message {
    font-size: 1.2em;
    font-weight: bold;
    color: var( --primary );
}
