.upload-container {
    column-count: 2;
    column-gap: 32px;
    margin: 0 auto;
    max-width: var( --content-width );
}

.upload-container .hidden {
    display: none !important;
}

.form-section {
    break-inside: avoid;
    margin-bottom: 32px;
}

.file-drop-area {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    aspect-ratio: 16 / 9;
    padding: 20px;
    text-align: center;
    border: 2px dashed rgba( 255 255 255 / 0.2 );
    border-radius: var( --border-radius );
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.file-drop-area.dragover {
    border-color: var( --primary );
    background: rgba( 255 255 255 / 0.05 );
}

.file-drop-area input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-drop-area .icon {
    width: 64px;
    height: 64px;
    opacity: 0.7;
}

.file-drop-area span {
    font-size: 1.2em;
}
