.frame-watch--content {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 16px;
    margin: 16px auto;
    max-width: var( --content );
}

.frame-watch--meta-title {
    margin-bottom: 12px !important;
}

.frame-watch--meta-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;
    font-size: 1.05em;
    font-weight: 500;
}

.frame-watch--meta-info a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.frame-watch--meta-description {
    margin: 24px 0;
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 300;
    opacity: 0.8;
}

.frame-watch--meta-tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 6px;
}

.frame-watch--meta-tags a {
    display: inline-block;
    padding: 6px 12px;
    font-size: 0.86em;
    background: var( --light-10 );
    border-radius: var( --radius );
}

.frame-watch--meta-tags a:hover {
    background: var( --light-20 );
}

.frame-watch--stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.frame-watch--stats-views {
    margin-bottom: 0 !important;
}

.frame-watch--stats-rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
}

.frame-watch--stats-rating .icon {
    cursor: pointer;
}

.frame-watch--stats .views {
    flex: 1;
}

.frame-watch--stats .rating {
    padding-left: 6px;
}

.frame-watch--playlist-header a {
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.frame-watch--playlist-list {
    margin: 12px 0 0;
    max-height: 560px;
    overflow-y: scroll;
}

.frame-watch--playlist-list .frame-videolist--item {
    grid-template-columns: 100px 1fr;
    align-items: start;
    gap: 20px;
}

.frame-watch--playlist-list .frame-videolist--item-preview {
    aspect-ratio: 1 / 1;
}

.frame-watch--playlist-list .frame-videolist--item-info .title {
    margin-bottom: 12px;
    line-height: 1.2;
    font-size: 1.05em;
}

.frame-watch--playlist-list .frame-videolist--item-info .meta span:not( :first-child ) {
    display: none;
}

.frame-watch--playlist-list .frame-videolist--item-duration,
.frame-watch--playlist-list .frame-videolist--item-rating {
    display: none;
}

.frame-watch--lists-list {
    display: flex;
    flex-flow: column nowrap;
    margin: -12px 0;
}

.frame-watch--lists-list a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    padding: 12px 0;
}

.frame-watch--lists-list a:not( :last-child ) {
    border-bottom: 1px dashed var( --light-20 );
}

.frame-watch--lists-list a .count {
    font-weight: 300;
}
